<custom-input></custom-input>
<!-- <custom-card></custom-card>
  <custom-card></custom-card>
  <custom-card></custom-card>
  <custom-card></custom-card>
  <custom-card></custom-card>
  <custom-card></custom-card>
  <custom-card></custom-card>
  <custom-card></custom-card>
  <custom-card></custom-card>
  <custom-card></custom-card>
  <custom-card></custom-card>
  <custom-card></custom-card>
  <custom-card></custom-card>
  <custom-card></custom-card>
  <custom-card></custom-card>
  <custom-card></custom-card>
  <custom-card></custom-card>
  <custom-card></custom-card>
  <custom-card></custom-card>
  <custom-card></custom-card>
  <custom-card></custom-card>
  <custom-card></custom-card>
  <custom-card></custom-card>
  <custom-card></custom-card>
  <custom-card></custom-card>
  <custom-card></custom-card>
  <custom-card></custom-card> -->
<cdk-virtual-scroll-viewport [itemSize]="20" class="list-content">
  <div class="card-container">
    <custom-card *cdkVirtualFor="let beer of beers$ | async; trackBy: trackByBeers" [beer]="beer"></custom-card>
  </div>
</cdk-virtual-scroll-viewport>
